<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.css}" />
        <link rel="stylesheet" th:href="@{/assets/dist/css/index.css}" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <title>Main area</title>
    </head>

    <body>

        <!-- Header -->
        <header class="navbar navbar-default navbar-static-top" id="header">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">WebGE <i>by URJC</i></a>
                </div>

                <div class="collapse navbar-collapse header-collapse">
                    <ul sec:authorize="isAuthenticated()" class="nav navbar-nav">
                        <li><a th:href="@{/}"><span class="glyphicon glyphicon-home" rel="tooltip" title="Home page"></span></a></li>
                        <li><a th:href="@{/experiment/configExperiment}" rel="tooltip" title="New experiment"><span class="glyphicon glyphicon glyphicon-plus-sign"></span></a></li>
                        <li><a th:href="@{/experiment/experimentRepository}" rel="tooltip" title="List of experiments"><span class="glyphicon glyphicon-th-list"></span></a></li>
                        <li><a th:href="@{/user/profile}" rel="tooltip" title="User profile"><span class="glyphicon glyphicon-user"></span></a></li>
                    </ul>

                    <p sec:authorize="isAuthenticated()" class="navbar-text navbar-right btn-sm btn btn-default"><a  th:href="@{/logout}" rel="tooltip" title="Log out"><span class="glyphicon glyphicon-off"></span></a></p>
                    <p sec:authorize="isAnonymous()" class="navbar-text navbar-right btn-sm btn btn-default"><a th:href="@{/registration}" rel="tooltip" title="Register"><span class="glyphicon glyphicon-list-alt"></span></a></p>
                    <p sec:authorize="isAnonymous()" class="navbar-text navbar-right btn-sm btn btn-default"><a th:href="@{/user}"><span class="glyphicon glyphicon-log-in" rel="tooltip" title="Log in"></span></a></p>
                </div>
            </div>
        </header>
        <!-- END Header -->

        <!-- Main -->
        <div class="container">
            <div id="forms" class="panel panel-default">
                <header class="panel-heading">
                    <h2>Home </h2>
                </header>

                <section class="panel-body form-horizontal center-block text-center">

                    <div class="row">
                        <a href="/experiment/configExperiment" th:href="@{/experiment/configExperiment}" >
                            <div class="col-sm-6 col-md-4 col-lg-4 mt-4 form-group">
                                <div class="card center-block">
                                    <img class="card-img-top" th:src="@{/images/index/experiments_adn.jpg}" />
                                    <div class="card-block">
                                        <h4 class="card-title mt-3">New experiment</h4>
                                        <div class="card-text">
                                            Creates a new experiment
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="/experiment/experimentRepository" th:href="@{/experiment/experimentRepository}"  >
                            <div class="col-sm-6 col-md-4 col-lg-4 mt-4 form-group">
                                <div class="card center-block">
                                    <img class="card-img-top" th:src="@{/images/index/chain_adn.jpg}" />
                                    <div class="card-block">
                                        <h4 class="card-title mt-3">My experiments</h4>
                                        <div class="card-text">
                                            Loads your saved experiments
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="/grammar/grammarRepository" th:href="@{/grammar/grammarRepository}"  >
                            <div class="col-sm-6 col-md-4 col-lg-4 mt-4 form-group">
                                <div class="card center-block">
                                    <img class="card-img-top" th:src="@{/images/index/grammar.png}" />
                                    <div class="card-block">
                                        <h4 class="card-title mt-3">My grammars</h4>
                                        <div class="card-text">
                                            Loads your saved gramamrs
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="/datasets/list" th:href="@{/datasets/list}"  >
                            <div class="col-sm-6 col-md-4 col-lg-4 mt-4 form-group">
                                <div class="card center-block">
                                    <img class="card-img-top" th:src="@{/images/index/dataset.png}" />
                                    <div class="card-block">
                                        <h4 class="card-title mt-3">My datasets</h4>
                                        <div class="card-text">
                                            Manage datasets
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="/user/profile" th:href="@{/user/profile}"  >
                            <div class="col-sm-6 col-md-4 col-lg-4 mt-4 form-group">
                                <div class="card center-block">
                                    <img class="card-img-top" th:src="@{/images/index/profile_adn.jpg}" />
                                    <div class="card-block">
                                        <h4 class="card-title mt-3">Profile</h4>
                                        <div class="card-text">
                                            See your personal information and update new one
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>
        </div>
        <!-- END Main -->

    <script>
        $(document).ready(function(){
            $("[rel=tooltip]").tooltip({ placement: 'right'});
        });
    </script>

    </body>
</html>